<doctype html="es">

    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <title>Flask Music Database</title>
    </head>

    <body>
        <header>
            <h2>Project V</h2>
            <div class="buscador">
                {% from "_formhelpers.html" import render_field %}
                <form method="post">
                    {{ render_field(form.search) }}
                    <input type="submit" value="Search">
                </form>
            </div>
            
        </header>
            

            <p>{{ results }}</p>
    </body>
</doctype>