<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
    <link href='https://css.gg/search.css' rel='stylesheet'>
    <link href='https://css.gg/chevron-down.css' rel='stylesheet'>
    <link href='https://css.gg/chevron-up.css' rel='stylesheet'>
</head>

<body>
    <script>
        function filterOpen() {
            console.log("OPEN");
            document.getElementById("filter-button-open").style.display = "none";
            document.getElementById("filter-button-close").style.display = "inline-block";
            document.getElementById("filters").style.display = "table";
        }
        function filterClose() {
            console.log("CLOSE");
            document.getElementById("filter-button-close").style.display = "none";
            document.getElementById("filter-button-open").style.display = "inline-block";
            document.getElementById("filters").style.display = "none";
        }
        function search() {
            let search_input = document.getElementById("search-input").value
            let console_input = document.getElementById("input-console").value
            let videogame = document.getElementById("input-videogame").value
            let company = document.getElementById("input-company").value
            let date_ini = document.getElementById("input-date-ini").value
            let date_end = document.getElementById("input-date-end").value
            let author = document.getElementById("input-author").value

            console.log(search_input, console_input, videogame, company, date_ini, date_end, author)

            const url = `/results?page=1&search_input=${search_input}&console=${console_input}&videogame=${videogame}&company=${company}&date_ini=${date_ini}&date_end=${date_end}&author=${author}`
            location.href = url
        }
    </script>

    <div id="page-container">
        <header>
            <div id="header-title">
                <a style="text-decoration:none">
                    <h1>PROJECT-V</h1>
                </a>
            </div>
        </header>
        <main id="main-page">
            <!-- <form id="search-form" method="post" action="{{ url_for('results') }}"> -->
            <form id="search-form">
                <div id="search-area" role="search">
                    <label>Buscar noticias:</label>
                    <div id="input-area">
                        <input type="text" name="search-input" id="search-input" placeholder="...">
                        <button id="search-button" type='button' title="Buscar" onclick="search()">
                            <i class="gg-search"></i>
                        </button>
                    </div>
                </div>
                <div id="filter-area">
                    <label>Búsqueda avanzada:</label>
                    <button id="filter-button-open" onclick="filterOpen()" title="Expandir" type="button">
                        <i class="gg-chevron-down"></i>
                    </button>
                    <button id="filter-button-close" onclick="filterClose()" style="display: none;" title="Contraer" type="button">
                        <i class="gg-chevron-up"></i>
                    </button>
                    <div id="filters" style="display: none;">
                        <div class="filter-field">
                            <label>Consola</label>
                            <select id="input-console" name="input-console">
                                <option value="ANY">Cualquiera</option>
                                <option value="PC">PC</option>
                                <option value="PS5">PS5</option>
                                <option value="PS4">PS4</option>
                                <option value="Switch">Switch</option>
                                <option value="Wii">Wii</option>
                                <option value="3DS">3DS</option>
                                <option value="DS">DS</option>
                                <option value="PS3">PS3</option>
                                <option value="PS2">PS2</option>
                                <option value="PS1">PS1</option>
                                <option value="Xbox">Xbox</option>
                            </select>
                        </div>
                        <div class="filter-field">
                            <label>Videojuego</label>
                            <select id="input-videogame" name="input-videogame">
                                <option value="ANY">Cualquiera</option>
                                <option value="GTA">GTA</option>
                                <option value="Mario">Mario</option>
                                <option value="Zelda">Zelda</option>
                                <option value="Smash">Smash Bros</option>
                                <option value="Minecraft">Minecraft</option>
                                <option value="Fortnite">Fortnite</option>
                                <option value="CS">Counter-Strike</option>
                                <option value="Apex">Apex Legends</option>
                                <option value="LOL">League of Legends</option>
                                <option value="RocketLeague">Rocket League</option>
                                <option value="FallGuys">FallGuys</option>
                                <option value="Overwatch">Overwatch</option>
                                <option value="FIFA">FIFA</option>
                                <option value="FreeFire">FreeFire</option>
                            </select>
                        </div>
                        <div class="filter-field">
                            <label>Compañía</label>
                            <select id="input-company" name="input-company">
                                <option value="ANY">Cualquiera</option>
                                <option value="Nintendo">Nintendo</option>
                                <option value="Sony">Sony</option>
                                <option value="Microsoft">Microsoft</option>
                                <option value="Ubisoft">Ubisoft</option>
                                <option value="EA">EA</option>
                                <option value="Blizzard">Blizzard</option>
                                <option value="EpicGames">Epic Games</option>
                                <option value="Valve">Valve</option>
                                <option value="Rockstar">Rockstar</option>
                                <option value="Sega">Sega</option>
                                <option value="Capcom">Capcom</option>
                                <option value="Mojang">Mojang</option>
                            </select>
                        </div>
                        <div class="filter-field">
                            <label>Fecha inicial</label>
                            <input id="input-date-ini" name="input-date-ini" type="date">
                        </div>
                        <div class="filter-field">
                            <label>Fecha final</label>
                            <input id="input-date-end" name="input-date-end" type="date">
                        </div>
                        <div class="filter-field">
                            <label>Autor</label>
                            <input id="input-author" name="input-author" type="text">
                        </div>
                    </div>
                </div>
            </form>
            <div id="feed" name="noticias">

                {% for noticia in noticias %}
                    <div class="noticia">
                        <h3>
                            {{ noticia._source.title }}
                        </h3>
                        <h4>
                            {{ noticia._source.description }}
                        </h4>
                        <a
                            href="{{ noticia._source.url }}">
                            LEER MÁS...
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% if noticias %}
            <div id="navigation">
                {% if prev_url != "" %}
                <a href="{{prev_url}}">
                    <button>Anterior</button>
                </a>
                {% endif %}
                {% if next_url != "" %}
                 <a href="{{next_url}}">
                    <button>Siguiente</button>
                 </a>
                {% endif %}
            </div>
            {% endif %}
                
        </main>

</body>

</html>